:root {
    /*PRIMARY*/
    --dev-color-primary-light: #004cd8;
    --dev-color-primary: #0041BE;

    /*DANGER*/
    --dev-color-danger: #FF2222;

    /*GRAY*/
    --dev-color-gray-lightest: #F9FBFD;
    --dev-color-gray-lighter: rgba(196, 196, 196, 0.35);
    --dev-color-gray-light: #B8B7B7;
    --dev-color-gray: #767684;
    --dev-color-gray-dark: #09090A;
}