.dev-table {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: white;
    padding: 28px;
}

/*HEAD*/

.dev-table>.head {
    font-size: calc(var(--dev-font-size-base) + 6px);
    font-weight: 600;
    color: var(--dev-color-gray-light);
}

.dev-table>.head>.row {
    display: grid;
    grid-template-columns: 2fr 1fr 200px;
    padding: 0 32px;
}

/*BODY*/

.dev-table>.body {}

.dev-table>.body>.row {
    display: grid;
    padding: 24px 32px;
    grid-template-columns: 2fr 1fr 200px;
    border-bottom: 1px solid var(--dev-color-gray-lighter);
}

.dev-table>.body>.row:last-child {
    border-bottom: none;
}

/*BODY - TITLE-DESCRIPTION*/

.dev-table>.body>.row>.title-description {}

.dev-table>.body>.row>.title-description>.title {
    font-weight: 600;
    margin-bottom: 8px;
}

.dev-table>.body>.row>.title-description {}

/*BODY-PRICE*/

.dev-table>.body>.row>.price {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/*bODY-ACTIONS*/

.dev-table>.body>.row>.actions {}

.dev-table>.body>.row>.actions>.edit {
    color: var(--dev-color-primary);
    margin-right: 5px;
    cursor: pointer;
}

.dev-table>.body>.row>.actions>.delete {
    color: var(--dev-color-danger);
    cursor: pointer;

}