.dev-header {
    height: Var(--dev-header-size);
    width: 100%;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
}

.dev-header>.wrapper {
    max-width: var(--dev-main-wrapper);
    align-items: center;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
}

.dev-header>.wrapper.-has-user {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

/*LOGO*/

.dev-header>.wrapper>.logo-wrapper {
    height: var(--dev-header-size);
    padding-top: 16px 0;
}

.dev-header>.wrapper>.logo-wrapper>.image {
    height: 100%;
}

/*Usuário*/
.dev-header>.wrapper>.user {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.dev-header>.wrapper>.user>.info {
    text-align: right;
}

.dev-header>.wrapper>.user>.info>.name {
    display: block;
    font-weight: 800;
    font-size: calc(var(--dev-font-size-base) + 4px);
    margin-bottom: 3px;
}

.dev-header>.wrapper>.user>.info>.role {
    display: block;
    font-weight: 400;
    font-size: calc(var(--dev-font-size-base) + 2px);
}

.dev-header>.wrapper>.user>.photo-wrapper {
    margin-left: 12px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid var(--dev-color-primary);
    overflow: hidden;
}

.dev-header>.wrapper>.user>.photo-wrapper>img {
    height: 100%;
    width: 100%;
}