.dev-input {
    font-family: var(--dev-font-family-base);
    font-size: calc(var(--dev-font-size-base) + 8px);
    border: none;
    background: none;
    border-bottom: 1px solid var(--dev-color-gray-light);
    outline: none;
    transition: border-color 0.5s;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 32px;
}

.dev-input:focus {
    border-color: var(--dev-color-primary);
}

.dev-input::placeholder {
    color: var(--dev-color-gray-dark);
}